.grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50px 80px 100px;
  gap: 1em
}
.grid div{
  background-color: blueviolet;
  padding: 1em;
}
.grid div:hover{
    border: 1px solid red;
}